body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

  /* Header styles */
  #MainNavBar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  #NavBarTitle {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }

  /* Drawing container styles */
  #drawingContainer {
    position: relative;
    background-image: url("../assets/img/background.png"); /* Placeholder image URL */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Question container styles */
  #questionContainer {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  /* Question text styles */
  #question {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  /* Color selectors styles */
  .colorSelector {
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  /* Eraser styles */
  #eraser {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #333;
    cursor: pointer;
    margin: 5px;
  }

  /* Line width selectors styles */
  .lineWidthSelector {
    width: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Canvas styles */
  canvas {
    border: 5px solid #6c63ff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(108, 99, 255, 0.5);
  }