<html>
    <head>

    </head>
    <body>
        <table>
            <tr>
                <td>
                    <li><a href="{{site.baseurl}}/ml">ml</a></li>
                </td>
                <td>
                    <li><a href="{{site.baseurl}}/bakery">bakery</a></li>
                </td>
                <td>
                    <li><a href="{{site.baseurl}}/stocks">stocks</a></li>
                </td>
                <td>
                    <li><a href="{{site.baseurl}}/bookreccom">bookreccom</a></li>
                </td>
                <td>
                    <li><a href="{{site.baseurl}}/painter">painter</a></li>
                </td>
            </tr>
        </table>
        
    </body>
</html>