.container{
    padding-bottom: 10px;
    text-align: center;
}
.userInput
{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffff;
    color: white;
}
#username
{
    padding: 20px;
}
#password
{
    padding: 5px;
}
form{
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
@keyframes fadeInAnimation {
0% {
    opacity: 0;
}
0% {
    opacity: 0;
}
0% {
    opacity: 0;
}
0% {
    opacity: 0;
}
0% {
    opacity: 0;
}

100% {
    opacity: 1;
 }
}
form *{
font-family: 'Poppins',sans-serif;
letter-spacing: 0.5px;
outline: none;
border: none;
}
form h3{
font-size: 32px;
font-weight: 500;
line-height: 42px;
text-align: center;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
#rectangle{
    width:200px;
    height:300px;
    background:gray;
    position: fixed;
}   
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
/* #title
{
    color: white;
    font-size: 100px;
} */
 #titleContainer {
    width: 100%;
    text-align: center;
    padding-bottom: 300px;
}
#title {
    position: absolute;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%; 
    background-image: radial-gradient(
        ellipse 50% 35% at 50% 50%,
        #6b1839,
        transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 6em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
0%,
22%,
36%,
75% {
color: #ffe6ff;
text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}
28%,
33% {
color: #ff65bd;
text-shadow: none;
}
82%,
97% {
color: #ff2483;
text-shadow: none;
}
}

.flicker {
animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
0% {
color: #6b1839;
text-shadow: none;
}
100% {
color: #ffe6ff;
text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}
}

@keyframes flicker {
from {
opacity: 1;
}

4% {
opacity: 0.9;
}

6% {
opacity: 0.85;
}

8% {
opacity: 0.95;
}

10% {
opacity: 0.9;
}

11% {
opacity: 0.922;
}

12% {
opacity: 0.9;
}

14% {
opacity: 0.95;
}

16% {
opacity: 0.98;
}

17% {
opacity: 0.9;
}

19% {
opacity: 0.93;
}

20% {
opacity: 0.99;
}

24% {
opacity: 1;
}

26% {
opacity: 0.94;
}

28% {
opacity: 0.98;
}

37% {
opacity: 0.93;
}

38% {
opacity: 0.5;
}

39% {
opacity: 0.96;
}

42% {
opacity: 1;
}

44% {
opacity: 0.97;
}

46% {
opacity: 0.94;
}

56% {
opacity: 0.9;
}

58% {
opacity: 0.9;
}

60% {
opacity: 0.99;
}

68% {
opacity: 1;
}

70% {
opacity: 0.9;
}

72% {
opacity: 0.95;
}

93% {
opacity: 0.93;
}

95% {
opacity: 0.95;
}

97% {
opacity: 0.93;
}

to {
opacity: 1;
}
}