* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #333;
}

.dark-theme {
  --primary-color: #333;
  --secondary-color: #fff;
}

.info {
  background-color: var(--primary-color);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 25px;
}

.logoutbutton {
  color: red
}

.form-container {
  text-align: center;
  background-color: #fff; /* Optional: Add a background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input:focus {
  outline: none;
  border-color: #007bff; /* Change focus color as needed */
}

#user, #pass {
  margin-bottom: 16px; /* Optional: Adjust the space between inputs */
}

// Styling

$primary-color: #3498db; 

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  display: flex;
  background: url('https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?cs=srgb&dl=pexels-ella-olsson-1640772.jpg&fm=jpg') center center fixed;
  background-size: cover;
}

.form-container {
  min-width: 400px;
  margin: 50px auto;
  text-align: center;

  h2 {
      font-size: 28px;
      color: $primary-color;
      margin-bottom: 20px;
  }

  form {
      margin-bottom: 20px;
  }

  .input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
  }

  p {
      color: red;
      margin-top: 10px;
  }

  button {
      background-color: $primary-color;
      color: var(--primary-color);
      cursor: pointer;
      padding: 5px;
      border-radius: 5px;
      border: none;
  }
}

button {
  border: none;
  background-color: $primary-color;
  color: var(--primary-color);
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

tr, td {
  background-color: var(--primary-color);
}

#data {
  background-color: $primary-color;
  padding: 10px;
} 

nav {
  background-color: var(--primary-color);
  overflow: hidden;
}

nav button {
  background-color:var(--primary-color);
  float: left;  
  display: block;
  color: var(--primary-color);
  border: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a {
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #4CAF50;
  color: white;
}

nav button:hover {
  background-color: #ddd;
  color: black;
}

nav button.active {
  background-color: #4CAF50;
  color: white;
}

.headnav {
  background-color: var(--primary-color);
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;
  left: 50%;
  display: block;
}

.headnav a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.headnav a:hover {
  color: black;
}

#allsearch {
  display: flex;
  left: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header.site-header {
  background-color: rgb(0, 0, 0);
  color: var(--secondary-color);
  text-align: left;
}

strong {
  font-size: x-large;
}

#recipediv {
  background-color: var(--primary-color);
  align-content: center;
  margin: 15px;
  padding: 30px;
  border-radius: 5px;
}

.recipe {
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px, 20px;
  color: black;
  
  img {
      max-width: 100%;
      height: auto;
      font-weight: bold;
  }
}

.query {
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
}
